.App {
  text-align: center;
  max-width: 420px;
  width: 100%;
  background-color: white;
  color: #898989;
  /*color: lightgray;*/
}

.habit-date {
  color: lightgray;
}

.habit-container {
  position: relative;
}
.habit-container.intersects {
  background-color: pink;
}
.habit-editing-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  width: 35px;
  height: 35px;
}

.habit-date-error {
  color: red;
  font-weight: bold;
}

.base-container {
  text-align: center;
  max-width: 420px;
  width: 100%;
}
.plan-day-container {
  position: relative;
  /*height: 100%;*/
  /*width: 100%;*/
}
.popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background-color: gray;*/
  background-color: #000000b5;
  color: white;

  position: fixed;
  z-index: 1000;
  text-align: center;
  max-width: 420px;
  width: 100%;
}

.popup-label {
  color: red;
  font-weight: bold;
  margin-bottom: 8px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.new-habit-button {
  color: #00af00;
  border-color: #00af00;
  background-color: white;
}

.new-habit-input {
  width: 100%;
  margin-bottom: 18px;

  height: 28px;
  font-size: medium;
}

.left {
  text-align: left;
  /*padding-left: 10px;*/
  /*width: 150px*/
}

.calendar-day {
  color: black;
}

.current-day {
  border-style: solid;
  /*border-radius: 100%;*/
  border-radius: 1000px;
  border-width: thin;
  border-color: white;
  background-color: green;
  color: white;
}

.habits-table {
  width: 100%;

  display: grid;
  flex-direction: column;
  /*grid-template-columns: 150px 20% 20% 20% 20% 20%;*/
  grid-template-columns: 150px repeat(5, 1fr);
  gap: 10px;
  /*padding: 10px;*/
}
.habit-checkbox {
  width: 25px;
  height: 25px;
}
.intersecting-habits-warning {
  color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
